body {
  font-family: 'Work Sans', sans-serif;
  font-size:12px;
  line-height:1.5;
  font-weight: 400;
  padding:0;
  margin:0;
  background-color: #FFFFFF;
}

/* Global */

.container{
  width:95%;
  margin:auto;
  overflow:hidden;
}

@media screen and (max-width: 768px) {
  .container{
    width:95%;
    margin:auto;
    overflow:hidden;}
}

/* Menu */
.top-menu{
  display: block;
  width: 95%;
  margin: auto;
  height: 40px;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
}

.top-menu span{
  display: inline-block;
  line-height: normal;
  font-weight: 400;
  color: #000000;
  font-size: 1.7em;
  padding-top: 7px;
}

.top-menu span a, .top-menu span a:visited, .top-menu span a:active{
  color: #000000;
}

.top-menu span a:hover{
  font-family: 'Pinyon Script', cursive;
  color: #FFFFFF;
  background-color: #000000;
  text-transform: uppercase;
}


/* Footer */

footer{
  width: 10%
  position: relative;
  top: 10pt;
  float: right;
  padding-right: 10pt;
}

footer h5{
  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #C3C3C3;

}

.footerclass{
  position: relative;
  width: 100%;
  height: 3em;
  margin: auto;
}

/* ---- PROJETOS ---- */
@media screen and (min-width: 769px) {
.projects span{
  display: inline-block;
  margin-top: -7px;
  line-height: normal;
  font-weight: 400;
  color: #757575;
  font-size: 1.2em;
  padding-top: 7px;
}
}
.projects span a, .projects span a:visited, .projects span a:active{
  color: #000000;
}

.projects a:hover span{
  color: #FFFFFF;
  background-color: #000000;
  text-transform: uppercase;
  font-family: 'Pinyon Script', cursive;
}

@media screen and (max-width: 769px) {
.projects span{
  display: inline-block;
  margin-top: -7px;
  line-height: normal;
  font-weight: 400;
  color: #757575;
  font-size: 1em;
  padding-top: 7px;
}
}

@media screen and (min-width: 769px) {
.cidadejardim{
  position: relative;
  overflow: hidden;
  width: 60%;
  margin-top: 40pt;
}

.cidadejardim video{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
}

@media screen and (max-width: 768px) {
.cidadejardim{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
  }

.cidadejardim video{
  object-fit:contain;
  width: 100%;
  }
}


@media screen and (min-width: 769px) {
.vtex{
  position: relative;
  overflow: hidden;
  width: 62%;
  /*padding-top: 33%;*/
  margin-top: 20pt;
  float: right;
  margin-right: 0%;
}
.vtex video{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
.vtex{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10pt;
  }

.vtex video{
  object-fit:contain;
  width: 100%;
  }
}


@media screen and (min-width: 769px) {
.claraboia{
  position: relative;
  overflow: hidden;
  width: 71%;
  /*padding-top: 41%;*/
  margin-top: 20pt;
  margin-left: 14.5%;
  }

.claraboia video{
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
.claraboia{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10pt;
  }

.claraboia video{
  object-fit:contain;
  width: 100%;
  }
}


/* PROJECT PAGES */

@media screen and (min-width: 768px) {
.project-content{
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 40pt;
  width: 67%;
  margin-left: 33%;
  text-align: left;
}

.project-description{
  display: block;
  overflow: hidden;
  position: fixed;
  top: 40pt;
  width: 30%;
  }

.project-description h1{
  font-size: 2.2em;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  line-height: 1;
  }
}

@media screen and (max-width: 768px) {
.project-content{
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 40pt;
  width: 100%;
  margin-left: 0;
}

.project-description{
  display: block;
  overflow: hidden;
  position: relative;
  top: 0pt;
  width: 100%;
  }

.project-description h1{
  font-size: 2.2em;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-top: 10px;
  line-height: 1;
  }
}

.project-content img{
  width: 100%;
  object-fit: contain;
}

.project-content iframe{
  width: 100%;
  object-fit: contain;
}

.project-description h2{
  font-size: 1.3em;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 769px) {
.nav-arrows span{
  display: inline-block;
  margin-top: -7px;
  line-height: normal;
  font-weight: 400;
  color: #757575;
  font-size: 1.2em;
  padding-top: 7px;
}
}
.nav-arrows span a, .nav-arrows span a:visited, .nav-arrows span a:active{
  color: #000000;
}

.nav-arrows a:hover span{
  color: #FFFFFF;
  background-color: #000000;
  text-transform: uppercase;
  font-family: 'Pinyon Script', cursive;
}

@media screen and (max-width: 769px) {
.nav-arrows span{
  display: inline-block;
  margin-top: -7px;
  line-height: normal;
  font-weight: 400;
  color: #757575;
  font-size: 2em;
  padding-top: 7px;
}
}

/*ABOUT*/

.info-picture{
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 40pt;
  width: 67%;
  margin-left: 33%;
}

.info-picture img{
  object-fit: contain;
  width: 100%
}

@media screen and (max-width: 768px) {
  .info-picture{
    display: block;
    overflow: hidden;
    position: relative;
    margin-top: 40pt;
    width: 100%;
    margin-left:0;
  }

  .info-picture img{
    object-fit: contain;
    width: 100%
  }
